.header{
	height: 100px;
	padding-top: 20px;
}

.box{
	border: 1px solid gray;
	height: 470px;
	border-radius: 5px;
	padding: 20px;
}

.results_box{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 20px;
}
